.btnLight,
.btnDark,
.btnLightM {
  padding: 0 2.4rem;
  margin-top: 1rem;
  border-radius: 32px;
}

.btnLight,
.btnLightM {
  color: #d6dcdd;
  border: 1px solid #d6dcdd;
}

.btnLightM {
  margin-top: 2.4rem;
}

.btnDark {
  color: #1d252a;
  border: 1px solid #1d252a;
}

.btnLight:hover,
.btnLightM:hover,
.btnDark:hover {
  color: #ce9334;
  border: 1px solid #ce9334;
}
