.btnLight,
.btnDark {
  padding: 0 2.4rem;
  margin-top: 1rem;
  color: #d6dcdd;
  border-radius: 32px;
  border: 1px solid #d6dcdd;
}

.btnLight {
  color: #d6dcdd;
  border: 1px solid #d6dcdd;
}

.btnDark {
  color: #1d252a;
  border: 1px solid #1d252a;
}

.btnLight:hover,
.btnDark:hover {
  color: #ce9334;
  border: 1px solid #ce9334;
}
