/* .h1 {
  line-height: 3.2rem;
  color: white;
  margin-bottom: 1.6rem;
  font-family: "Roboto";
} */

.h2 {
  color: #1d252a;
  text-shadow: 2px 2px 0px #ce9334;
  font-family: "Roboto";
  letter-spacing: 2px;
}

/* .h4 {
  color: #ce9334;
  letter-spacing: 12px;
  font-family: "Helvetica Neue";
  text-transform: uppercase;
  font-weight: 100;
} */

.h5 {
  color: #d6dcdd;
  letter-spacing: 2px;
  font-family: "Roboto";
  font-weight: 400;
}

.h6 {
  color: #d6dcdd;
  letter-spacing: 2px;
  font-family: "Roboto";
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 1rem;
  margin-top: 2rem;
  border-bottom: 4px solid #d6dcdd;
}
/* 
.p {
  line-height: 1.5;
} */

.quote {
  font-family: "Roboto";
  text-align: center;
}

/* .caption {
  line-height: 1.2;
  font-size: 1rem;
  color: #d6dcdd;
  text-align: center;
  margin-bottom: 1rem;
} */
