.h1 {
  line-height: 3.2rem;
  color: white;
  margin-bottom: 1.6rem;
  font-family: "Roboto";
}
.h2 {
  color: white;
  font-family: "Roboto";
}

.h4 {
  color: #d6dcdd;
  letter-spacing: 2px;
  font-family: "Helvetica Neue";
  text-transform: uppercase;
  font-weight: 400;
}

.h5 {
  color: #d6dcdd;
  letter-spacing: 2px;
  font-family: "Helvetica Neue";
  font-weight: 400;
}

.h6 {
  color: #d6dcdd;
  letter-spacing: 2px;
  font-family: "Roboto";
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 1.6rem;
  margin-top: 3.2rem;
  border-bottom: 1px solid #334c53;
}

.p {
  margin-top: 3.2rem;
  line-height: 1.5;
}
