.container {
  margin-top: 1.6rem;
  /* background-color: rgba(51, 76, 83, 0.75); */
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 16px;
  padding-bottom: 1.6rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form.search {
  overflow: auto;
  margin-bottom: 10px;
}

form.search button[type="submit"] {
  float: right;
  margin-top: 10px;
}

.btnSubmit {
  font-size: 1rem;
  text-transform: uppercase;

  padding: 0.4rem 2.4rem;
  margin-top: 1rem;
  border-radius: 32px;
  color: #1d252a;
  border: 1px solid #1d252a;
}

.btnSubmit:hover {
  color: #ce9334;
  border: 1px solid #ce9334;
}
