.container {
  margin-top: 1.6rem;
  background-color: rgba(51, 76, 83, 0.75);
  /* background-color: rgba(255, 255, 255, 0.75); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  margin: 1.6rem 2.4rem;
}

.inputField {
  width: 100%;
  color: white;
  margin-top: 1rem;
  background-color: rgba(255, 255, 255, 0.75);
}

.btnSubmit {
  font-size: 1rem;
  text-transform: uppercase;

  padding: 0.4rem 2.4rem;
  margin-top: 2.4rem;
  border-radius: 32px;
  color: #1d252a;
  border: 1px solid #1d252a;
}

.btnSubmit:hover {
  color: white;
  border: 1px solid #ce9334;
  background-color: #ce9334;
}

.error-text {
  color: white;
  font-weight: 700;
  background-color: red;
  padding: 0.4rem;
  width: 12.6rem;
  margin: 0 auto;
}
