.cardStyles {
  color: white;
  background-color: transparent;
  box-shadow: none;
  border: none;
  padding-left: 0;
}

.cardContent {
  padding-left: 0;
  border-bottom: 1px solid #334c53;
}

.cardDate,
.cardDesc {
  font-family: "Helvetica Neue";
  color: var(--platinum);
}

.cardTitle {
  font-family: "Roboto";
  color: #ce9334;
}

.cardTitleOpt,
.cardCompanyOpt {
  color: white;
}

.cardStylesFrame {
  color: white;
  background-color: rgb(51, 76, 83, 0.2);
  border: 1px solid #334c53;
  /* margin: 2.4rem 1.6rem 1rem 1.6rem; */
  height: 100%;
}

.cardIcon {
  width: 64px;
  height: 64px;
  color: #1d252a;
  filter: drop-shadow(0px 0px 6px #ce9334);
}
