.navbar * {
  position: relative;
  z-index: 2;
}

.navbar-brand {
  display: inline-block;
}

.navbar {
  padding: 0.2rem;
  padding-left: 3.2rem;
  background-color: #1d252a;
  font-size: 1rem;
  border-bottom: 1px solid #334c53;
  box-shadow: none;
}

.navbar ul {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.nav-link:link,
.nav-link:visited {
  color: #d6dcdd;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.nav-link:hover,
.nav-link:active {
  color: #ce9334;
}

/* .home:link,
.home:visited {
  font-family: "Roboto";
  font-size: 1.2rem;
  color: #ce9334;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.home:hover,
.home:active {
  color: white;
} */

/* MOBILE */
.shade {
  background-color: rgba(29, 37, 42, 0.9);
}

.MuiMenu-paper {
  background-color: transparent;
  box-shadow: none;
  width: 100%;
}

.MuiMenu-list ul {
  list-style: none;
  margin: 0 auto;
}

.nav-item-m {
  margin: 1rem 0;
  text-align: center;
  font-weight: 700;
  padding: 1rem;
}

.nav-item-m:hover {
  background-color: #334c53;
}
