.socialLinksFixed {
  position: absolute;
  bottom: 2rem;
  width: 100%;
  /* background-color: rgba(51, 76, 83, 0.3); */
  padding: 0.4rem;
  z-index: 2;
}

.socialLinks {
  width: 100%;
  /* background-color: rgba(51, 76, 83, 0.3); */
  padding: 1.6rem 0.4rem 0.4rem 0.4rem;
  z-index: 2;
}

.socialLinksBox {
  justify-content: center;
}

.contactLink {
  color: #d6dcdd;
  font-size: 1.6rem;
}

.contactLink:hover {
  color: #ce9334;
}
