.imgLg {
  overflow: hidden;
  z-index: 1;
  max-height: 100vh;
  max-width: 100vw;
  object-fit: cover;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.imgRound {
  margin-top: 2rem;
  width: 100%;
  max-width: 300px;
  border-radius: 4px;
}

.imgSm {
  width: 100%;
  height: 100%;
  display: block;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
